[submodule "P42.Utils"]
	path = P42.Utils
	url = https://baskren@github.com/baskren/P42.Utils.git
[submodule "SmartTraits"]
	path = SmartTraits
	url = https://baskren@github.com/baskren/smarttraits.git
